body {
}

.container {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 200px;
}

.logo {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    width: 80%;
}

footer {
    position: fixed;
    padding-top: 100px;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #F68624);
}

.overview-title {
    color: #F68624;
    margin-left: 0;
}

.overviewlist-img {
    width: 300px;
    margin-top: 40px;
}
.overviewlist-item {
    text-decoration: none;
    position: relative;
}

.overviewlist-itemname {
    color: orange;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 70%;
}

.overviewlist-itemnewprice {
    color: black;
    position: absolute;
    left: 46%;
    top: 70%;
}

.overviewlist-itemogprice {
    text-decoration: line-through;
    color: red;
    position: absolute;
    left: 70%;
    top: 70%;
}

.DetailName {
    color: #F68624;
}

.floatright  {
    float: right;
}

.floatleft {
    float: left;
}

.orangebutton {
    border-color: #F68624;
    border-radius: 5px;
    border: solid 2px;
    color: #F68624;
    background-color: #FFF;
    text-decoration: none;
}

.basketicon {
    width: 30px;
    height: auto;
    float: right;
}

.basketnavbar {
    float: right;
    background-color: #F68624;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.totallabel {
    float: right;
    font-weight: bold;
}

.titlerow-basket {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.table-basket {
    width: 100%;
}